In [ ]:
import pandas as pd

In [ ]:
churn=pd.read_csv("Churn_Modelling.csv")

In [ ]:
churn.head(5)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
x=churn.iloc[:,3:13]
y=churn.iloc[:,13]

In [ ]:
##create dummies

gender=pd.get_dummies(x['Gender'],drop_first=True)

In [ ]:
x=pd.concat([x,gender],axis=1)

In [ ]:
x=x.drop(['Geography','Gender'],axis=1)

In [ ]:
x.head(5)

   CreditScore  Age  Tenure  ...  IsActiveMember  EstimatedSalary  Male
0          619   42       2  ...               1        101348.88     0
1          608   41       1  ...               1        112542.58     0
2          502   42       8  ...               0        113931.57     0
3          699   39       1  ...               0         93826.63     0
4          850   43       2  ...               1         79084.10     0

[5 rows x 9 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
x_train=pd.DataFrame(x_train)
x_train.head(5)

          0         1         2  ...         6         7         8
0 -0.735507  0.015266  0.008860  ... -1.034460 -1.640810 -1.087261
1  1.024427 -0.652609  0.008860  ... -1.034460 -0.079272 -1.087261
2  0.808295 -0.461788  1.393293  ...  0.966688 -0.996840 -1.087261
3  0.396614 -0.080145  0.008860  ...  0.966688 -1.591746  0.919743
4 -0.467915  1.255605  0.701077  ...  0.966688  1.283302  0.919743

[5 rows x 9 columns]

In [ ]:
import numpy as np
from tensorflow import keras
import tensorflow as tf
from keras.layers import Dense
from keras.models import Sequential
from keras.layers import Dropout
from kerastuner.tuners import RandomSearch
from tensorflow.keras import layers

In [ ]:
!pip install -q -U keras-tuner

     |████████████████████████████████| 71kB 7.5MB/s
  Building wheel for keras-tuner (setup.py) ... done
  Building wheel for terminaltables (setup.py) ... done

In [ ]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=128),
                               activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid',))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='binary_crossentropy',
        metrics=['accuracy'])
    return model

In [ ]:
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=10,
    directory='my_dir1',
    project_name='churn')

In [ ]:
tuner.search(x_train,y_train,epochs=10,validation_data=(x_test,y_test))

Trial 10 Complete [00h 00m 10s]
val_accuracy: 0.8547999858856201

Best val_accuracy So Far: 0.8628000020980835
Total elapsed time: 00h 01m 38s
INFO:tensorflow:Oracle triggered exit

In [ ]:
tuner.results_summary()

Results summary
Results in my_dir1/churn
Showing 10 best trials
Objective(name='val_accuracy', direction='max')
Trial summary
Hyperparameters:
num_layers: 2
units_0: 288
units_1: 32
learning_rate: 0.01
units_2: 288
units_3: 416
units_4: 416
units_5: 288
units_6: 288
units_7: 416
units_8: 288
units_9: 160
units_10: 288
units_11: 160
units_12: 32
units_13: 416
units_14: 416
units_15: 416
units_16: 160
Score: 0.8628000020980835
Trial summary
Hyperparameters:
num_layers: 11
units_0: 416
units_1: 32
learning_rate: 0.01
units_2: 32
units_3: 32
units_4: 32
units_5: 32
units_6: 32
units_7: 32
units_8: 32
units_9: 32
units_10: 32
Score: 0.8611999750137329
Trial summary
Hyperparameters:
num_layers: 7
units_0: 416
units_1: 160
learning_rate: 0.001
units_2: 160
units_3: 288
units_4: 160
units_5: 416
units_6: 288
units_7: 32
units_8: 416
units_9: 160
units_10: 288
units_11: 416
units_12: 288
units_13: 416
units_14: 416
units_15: 416
units_16: 288
Score: 0.8604000210762024
Trial summary
Hyperparameters:
num_layers: 3
units_0: 32
units_1: 416
learning_rate: 0.0001
units_2: 160
units_3: 416
units_4: 160
units_5: 160
units_6: 416
units_7: 160
units_8: 288
units_9: 416
units_10: 160
units_11: 416
units_12: 160
units_13: 416
units_14: 160
Score: 0.8587999939918518
Trial summary
Hyperparameters:
num_layers: 6
units_0: 288
units_1: 288
learning_rate: 0.001
units_2: 288
units_3: 288
units_4: 288
units_5: 160
units_6: 160
units_7: 288
units_8: 32
units_9: 160
units_10: 160
units_11: 160
units_12: 416
units_13: 416
units_14: 416
units_15: 416
units_16: 160
Score: 0.8564000129699707
Trial summary
Hyperparameters:
num_layers: 12
units_0: 32
units_1: 32
learning_rate: 0.0001
units_2: 160
units_3: 160
units_4: 416
units_5: 32
units_6: 288
units_7: 288
units_8: 416
units_9: 288
units_10: 416
units_11: 160
units_12: 416
units_13: 288
units_14: 416
units_15: 160
units_16: 288
Score: 0.8547999858856201
Trial summary
Hyperparameters:
num_layers: 12
units_0: 32
units_1: 416
learning_rate: 0.01
units_2: 160
units_3: 288
units_4: 160
units_5: 288
units_6: 416
units_7: 160
units_8: 416
units_9: 416
units_10: 160
units_11: 288
units_12: 160
units_13: 416
units_14: 160
units_15: 288
units_16: 416
Score: 0.7968000173568726
Trial summary
Hyperparameters:
num_layers: 15
units_0: 32
units_1: 160
learning_rate: 0.01
units_2: 160
units_3: 416
units_4: 416
units_5: 160
units_6: 416
units_7: 416
units_8: 416
units_9: 416
units_10: 288
units_11: 32
units_12: 32
units_13: 32
units_14: 32
Score: 0.7964000105857849
Trial summary
Hyperparameters:
num_layers: 17
units_0: 160
units_1: 416
learning_rate: 0.01
units_2: 288
units_3: 416
units_4: 160
units_5: 288
units_6: 32
units_7: 416
units_8: 416
units_9: 32
units_10: 288
units_11: 288
units_12: 416
units_13: 288
units_14: 416
units_15: 32
units_16: 32
Score: 0.7964000105857849
Trial summary
Hyperparameters:
num_layers: 11
units_0: 160
units_1: 32
learning_rate: 0.01
units_2: 288
units_3: 160
units_4: 416
units_5: 416
units_6: 288
units_7: 160
units_8: 32
units_9: 416
units_10: 32
units_11: 416
units_12: 160
units_13: 32
units_14: 160
units_15: 160
units_16: 416
Score: 0.7964000105857849

In [ ]:
classsifier=Sequential()

In [ ]:
x_train.shape

(7500, 9)

In [ ]:
model = tf.keras.models.Sequential()
model.add(tf.keras.Input(shape=(9,)))
model.add(tf.keras.layers.Dense(288,activation='relu',kernel_initializer='he_normal'))
model.add(tf.keras.layers.Dense(32,activation='relu',kernel_initializer='he_normal'))
model.add(tf.keras.layers.Dense(1,activation='sigmoid',kernel_initializer='glorot_normal'))

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(x_train,y_train,epochs=30)

Epoch 1/30
235/235 [==============================] - 1s 2ms/step - loss: 0.4899 - accuracy: 0.7865
Epoch 2/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3876 - accuracy: 0.8310
Epoch 3/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3653 - accuracy: 0.8502
Epoch 4/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3446 - accuracy: 0.8599
Epoch 5/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3564 - accuracy: 0.8530
Epoch 6/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3222 - accuracy: 0.8666
Epoch 7/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3260 - accuracy: 0.8636
Epoch 8/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3283 - accuracy: 0.8653
Epoch 9/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3251 - accuracy: 0.8666
Epoch 10/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3273 - accuracy: 0.8629
Epoch 11/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3293 - accuracy: 0.8622
Epoch 12/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3124 - accuracy: 0.8665
Epoch 13/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.8608
Epoch 14/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3181 - accuracy: 0.8684
Epoch 15/30
235/235 [==============================] - 0s 2ms/step - loss: 0.3135 - accuracy: 0.8715
Epoch 16/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3036 - accuracy: 0.8703
Epoch 17/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3106 - accuracy: 0.8722
Epoch 18/30
235/235 [==============================] - 1s 3ms/step - loss: 0.3101 - accuracy: 0.8699
Epoch 19/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3051 - accuracy: 0.8718
Epoch 20/30
235/235 [==============================] - 1s 2ms/step - loss: 0.2985 - accuracy: 0.8742
Epoch 21/30
235/235 [==============================] - 1s 3ms/step - loss: 0.3013 - accuracy: 0.8716
Epoch 22/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3107 - accuracy: 0.8669
Epoch 23/30
235/235 [==============================] - 1s 2ms/step - loss: 0.2943 - accuracy: 0.8756
Epoch 24/30
235/235 [==============================] - 1s 2ms/step - loss: 0.3049 - accuracy: 0.8698
Epoch 25/30
235/235 [==============================] - 1s 2ms/step - loss: 0.2949 - accuracy: 0.8733
Epoch 26/30
235/235 [==============================] - 1s 3ms/step - loss: 0.2839 - accuracy: 0.8751
Epoch 27/30
235/235 [==============================] - 1s 2ms/step - loss: 0.2938 - accuracy: 0.8771
Epoch 28/30
235/235 [==============================] - 1s 3ms/step - loss: 0.2944 - accuracy: 0.8754
Epoch 29/30
235/235 [==============================] - 1s 2ms/step - loss: 0.2866 - accuracy: 0.8823
Epoch 30/30
235/235 [==============================] - 1s 2ms/step - loss: 0.2907 - accuracy: 0.8725

In [ ]:
model.evaluate(x_test,y_test)

79/79 [==============================] - 0s 2ms/step - loss: 0.3720 - accuracy: 0.8596

[0.3720104992389679, 0.8596000075340271]

**Here in the churn model we need to reduce FN as much as possible, so we will look not only accuracy but also FN **

In [ ]:
y_predict=model.predict(x_test)
y_predict=(y_predict>0.25)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_predict)
acc=accuracy_score(y_test,y_predict)

In [ ]:
cm

array([[1721,  270],
       [ 191,  318]])

In [ ]:
acc

0.8156